<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnpro"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FIlESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.learnPro.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learnPro.activity.JumpListActivity"
            android:label="@string/title_activity_other" >
        </activity>
        <activity
            android:name="com.learnPro.activity.JumpFirstActivity"
            android:label="@string/title_activity_first" >
        </activity>
        <activity
            android:name="com.learnPro.activity.JumpSecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name="com.learnPro.activity.TestFragmentActivity"
            android:label="@string/title_activity_test_fragment" >
        </activity>
        <activity
            android:name="com.learnPro.activity.ImgActivity"
            android:label="@string/title_activity_img" >
        </activity>
        <activity
            android:name="com.learnPro.activity.ImgTransActivity"
            android:label="@string/title_activity_trans_img" >
        </activity>
        <activity
            android:name="com.learnPro.activity.ImgListTransActivity"
            android:label="@string/title_activity_img_list_trans" >
        </activity>
        <activity
            android:name="com.learnPro.activity.UploadImgActivity"
            android:label="@string/title_activity_upload_img" >
        </activity>
        <activity
            android:name="com.learnPro.activity.ImgShowActivity"
            android:label="@string/title_activity_img_show" >
        </activity>
        <activity
            android:name=".LocalFileActivity"
            android:label="@string/title_activity_local_file" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>